body{
    background-image: url("../../assets/img/background-intro.jpg");
    background-size: cover;
}

#quiz img{
    height: 300px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
}

#question {
    display: flex;
}

#question img{
    height: 275px;
}