.intro {
    background-color: #7a5757;
    background-image: url("../../assets/img/background-intro.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#quiz img{
    height: 300px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
}

#quiz p{
    font-size: 2.5rem;
    font-family: "Akaya Kanadaka", sans-serif;
}

#hat{
    position: absolute;
    right: -170px;
    top : 620px;
    z-index: 10;
}

#question{
    padding: 100px 0;
    align-items: center;
    flex-direction: row;
}

#question img{
    height: 540px;
    margin-right: 50px;
}

#question li{
    font-size: 2rem;
    margin: 15px;
}

#question #choixpeau{
    position: absolute;
      left: -320px;
      top: 40px;
      z-index: 10;
      height: 30%;
  }
