p.parchment-p, h1.parchment-title {
    font-family: 'Caudex', sans-serif;
    margin-top: 5%;
    color: black;
    width: 70%; 
    font-size: 36px;
}

h1.parchment-title {
    margin-top: 6%;
}


div.inner-parchement {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

#outer-parchement {
    background-repeat: no-repeat;
    background-position:  center;
    margin-top: 500px;
}


