.fondhouse {
  background-image: url("../../assets/img/fond-gryffindor.png");
  background-size: cover;
  background-repeat:repeat-y;
}

.film{
  min-height: 100vh;
}

.sticky{
  position: sticky;
  top : 0;
}

.mainCharacter {
    position: sticky;
    top: 90px; 
    width: 25%;
   }

   
#second {
  left: 35%;
}

#third {
  left: 70%;
}