.fondhouse {
  background-size: cover;
  background-repeat:repeat-y;
}

#basics h1{
  margin-left: 100px;
  font-size: 6rem;
}

#icon{
    position: absolute;
    left : 200px;
    height: 300px;
}

#bigIcon{
    position: absolute;
    right: 0px;
}

.basics p {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.basics h2 {
  margin-bottom: 0px;
}

.film{
  min-height: 100vh;
}

.sticky{
  position: sticky;
  top : 0;
}

#mainCharacters{
  position: relative;
}

#vifor{
  position: absolute;
    left: -550px;
    top: 42em; /*780px*/
    z-index: 10;
}

.mainCharacter {
    position: sticky;
    top: 90px; 
    width: 31%;
    min-height: 80vh;
   }

.mainCharacter img {
    max-width: 100%;
  height: auto;
  }
   
#second {
  left: 40%;
}

#third {
  left: 70%;
}