.sticky{
  position: sticky;
  top : 0;
}

.mainCharacter {
    position: sticky;
    top: 90px; 
    width: 25%;
   }

   
#second {
  left: 35%;
}

#third {
  left: 70%;
}

   
   body {
     height: 500vh;
   }