:root {
  /* Colors */
  --gryffindor-primary-color: #6C1A31;
  --gryffindor-secondary-color: #D37E01;
  --hufflepuff-primary-color: #BA7625;
  --hufflepuff-secondary-color: #5E3225;
  --ravenclaw-primary-color: #063E53;
  --ravenclaw-secondary-color: #799ABF;
  --slytherin-primary-color: #134731;
  --slytherin-secondary-color: #88898D;
  --text-color: #fff;

  /* Globals */
  --border-radius: 10px;

  /* Animations */
  /*
    on ne spécifie que la durée et la fonction de timing. Cela permet d'avoir des animations homogènes, mais de laisser
    à l'élément le libre choix de l'/les attributs à animer. Voir fichiers CSS pour exemples
  */
  --default-transition: 300ms ease-in-out;
}
